/*exhibitions page*/

.now-on{
	font-size: 45px;
	font-style: italic;
	font-weight: 200;
	padding-bottom: 5px;
	margin-bottom: 70px;
	text-align: center;
}

/*individual exhibition pages*/

.image-gallery{
	background-color: #202428;
}

.visible-gallery{
	max-width: 960px;
	margin:auto;
}
.row-exhibitions{
	padding-bottom: 80px;
	max-width: 80%;
	margin:auto;
}
.exhib-heading{
	margin-top: -20px;
	margin-bottom: 20px;
	font-size: 50px;
	font-weight: 500;
	text-align: center;
}

.img-description{
	/*visibility: hidden;*/
	padding: 8px;
	margin-top: -86px;
	background-color: #202428;
	color: white;
	opacity: .8; }

.img-description:hover {
/*visibility: visible;*/
	}

.exhib-page{
	max-width: 960px;
		margin:auto;
}	

.about-exhib{
	color: #ff6200;
	font-size: 24px;
	margin-top: 30px;
	margin-bottom: 20px;
}
.text-about-exhib{
	font-size: 16px;
	line-height: 26px;
}
.text-begin-exhib{
	margin-top: 30px;
	font-size: 22px;
	font-family: "skolar-sans-latin",sans-serif;
	font-style: italic;
	font-weight: 400;
	opacity: .8;
	line-height: 1.2em;
}
.curator{	
	margin-top: 30px;
	font-weight: 500;
	color: #ff6200;
	font-size: 20px;
	font-style: italic;
}
.curator img{
	width: 200px;
	margin-left: 30px;
	margin-top: 15px;
}	

.curator-name{
	font-size: 16px;}
.meta-info{
	text-align: right;	
}
.next-exhib{float: right; 
}

.pic-title{
	font-weight: 600;
	color: #ff6200;
	font-size: 16px;
	margin-bottom: 5px;}
.pic-artist{font-size: 16px;
	margin-bottom: 5px;}
.pic-info{
	margin-bottom: 10px;
	font-size:12px; }
.pic-blurb{
	line-height: 1.3em;
	margin-bottom: 5px;
	font-size:14px; }
.fullscreen img{
	width: 35px;
	float: right;}

/*///////fullscreen////////*/
.img-description-full{
	padding: 8px;
	background-color: #202428;
	color: white;
	opacity: .8; }

/*///////catalogues////////*/
.catalogue-name{
	color:  #ff6200;
	margin-top: 10px;
	text-align: center;
	font-size: 16px;
	font-weight: 600;
}
.catalogue-date{
	text-align: center;
	font-size: 16px;
margin-bottom: 60px;
color:  #ff6200;
}
