@import url(http://fonts.googleapis.com/earlyaccess/alefhebrew.css);


a:link, a:hover, a:visited, a:active {text-decoration: none;}

ul li{list-style: none;}

body{
	font-family: "ratio-display", sans-serif;
	background-color: #f5f5fa;
	/*font-family: "Alef Hebrew"*/
}

.notes{
	color: #FF00E0;
	font-size: 15px;
}
.container-fluid{
	padding:10px;
	margin-top: 40px;
}

.hebrew-font{ font-family: "Alef Hebrew";   Arial,
               sans-serif;}

.navbar li{
	font-size: 18px;
	font-weight: 500;
	margin-left: 6%;
	display: inline-block;
	text-align: center;
}
.navbar li a{
	text-align: center;
	color: #CE7126;
}
.navbar li a img{
	margin-bottom: 10px;
	width: 80%;
}

.languages li a{
	background-color: #CE7126;
	color: white;
	padding: 4px;
}

.languages li a:hover {
	background-color: white;
	color: #CE7126;	
}

.hebrew{
	transform: rotate(6deg);
	margin-top: 20px;}
.english{
	margin-top: 20px;
	transform: rotate(-2deg);}
.categories{
	font-size: 40px;
	border-bottom: 2px solid #CE7126;
	color:  #CE7126;
	padding-bottom: 5px;
	margin-bottom: 20px;
	text-align: center;
}

.when-on{
	font-size: 32px;
/*	border-bottom: 2px solid #CE7126;
*/	color:  #CE7126;
	padding-bottom: 5px;
	margin-bottom: 70px;
	margin-top: 100px;
	text-align: center;
	letter-spacing: .1em;
    text-transform: uppercase;
}
.main-box{padding-right: 70px;}
.exhi-date{
	background-color: #202428;
	padding: 5px;
	text-align: center;
	font-weight: 400;
	font-size: 20px; 
	color: white;
	margin-bottom: 10px;
}
.brief-description{
	font-size: 18px; 	
}

.read-more a{
	background-color: #CE7126;
	color: white;
	text-decoration: none;
	padding-top:7px;
	padding-bottom: 7px;	
	padding-left:20px;
	padding-right: 20px; 
}
.read-more{
	margin-top: 20px;
	font-weight: 500;
	font-size: 14px;
}
.read-more a:hover{
	border: 1px solid #CE7126;
	background-color: white;
	color: #CE7126; 
}
.title-exhib{
	font-size:30px;
	margin-bottom: 15px;
	color: #CE7126;
	font-weight: 900;
}

.title-main-exhib{
	font-size:40px;
	margin-bottom: 15px;
	color: #CE7126;
	font-weight: 900;
}
.categories-small, .categories-dark{
	font-weight: 400;
	font-size: 20px; 
	color: #9A8F9A;
	margin-top: 10px;
	margin-bottom: 20px;
	text-align: center;
}
.categories-small span{
	padding: 8px;
	background-color: #f5f5fa;}
.categories-dark span{
	padding: 8px;
	background-color: #202428;}	
.thin-line{
	height: 1px;
	background-color: #d7d8dd;
margin-top: -10px;
}

#current-image{
	background-image: url("../images/kinshasa-ville1.jpg");
	/*background-image: url("../images/pregnant.jpg");*/
	background-repeat: no-repeat;
	z-index: -1;
	/*	position: absolute;*/
	width: 100%;
	height: 600px;
}

.logo img{width: 65%;}

.navline{
	padding-top: 20px;
	padding:15px;
}

#current-text{
	 text-align: center;
}

#exhibition-name{
	font-size: 100px;
	color: white;
	text-shadow: 3px 3px rgba(0, 0, 0, 0.6);
	}

#current-date{
	color: white;
	font-size: 30px;
	text-shadow: 2px 2px rgba(0, 0, 0, 0.6);
}

.see-all a{
	background-color: #0089CE;
	color: white;
	text-decoration: none;
	padding-top:7px;
	padding-bottom: 7px;	
	padding-left:20px;
	padding-right: 20px; 
}
.see-all{
	float: right;
	max-width: 960px;
	margin-top: 50px;
	font-weight: 500;
}
.see-all a:hover{
	border: 1px solid #0089CE;
	background-color: white;
	color: #0089CE; 
}

.about-main{
	padding: 18px;
	line-height: 1.3em;
/*	width: 20%;*/
	color: black;
	/*background-color: #CE7126;*/
	font-size: 24px;
	font-family: "skolar-sans-latin",sans-serif;
	font-style: italic;
	font-weight: 400;
	margin-bottom: 80px;	
}
.about-main img{
	margin-top:10px;
	margin-left: -5px;}


.landing-about{margin-top: 80px;
	margin: auto;
	max-width: 960px;
}
.past-exhibitions{
	max-width: 960px;
	margin:auto;
}

.dark{

	margin-right: -10;
	margin-left: -10;
	background-color: #202428;}
.past-events{
	margin: auto;
	max-width: 960px;
}
.description-dark{
	font-size: 20px;
	color: white;
}

.landing-news{
	max-width: 960px;
	margin: auto;
}
.news{
	margin-top: 50px;
	background-color: white;
}

.news-title{
	font-size: 24px;
	font-weight: 500;
	color: #CE7126;
	margin-bottom: 10px;
}
.news-date{color: #AAA8A8;
	margin-bottom: 10px;}
.news-summary{}


footer{
	margin-top: 100px;
	}

.address{
	margin: auto;
	max-width: 960px;
	height: 100px;
	font-size: 18px;
	margin-bottom: 150px;
}


/* ==========================================================================
   Media queries
   ========================================================================== */

@media screen and (max-width:991px){

#exhibition-name{
	font-size: 90px;
	color: white;
	font-weight: bolder;
	}
#current-date{
		font-weight: bolder;
	color: white;
	font-size: 25px;
}

}/* end max-width 991 */

@media screen and (max-width:767px){

#exhibition-name{
	font-size: 50px;
	color: white;
	font-weight: bolder;
	}
#current-date{
	font-weight: bolder;
	color: white;
	font-size: 20px;
}
.past-exhibitions{
	margin-right: 10px;
	margin-left:10px;
}
.about-main{
	position: relative; 
	padding: 6px;
	line-height: 1.3em;
	font-size: 16px;
}
.navbar{
	margin:auto;
	margin-top: 20px;
	}

.navbar li{
	font-size: 14px;
	margin-left: -4%;
}

.navbar li a img{
	width: 70%;
}

}/* end max-width 767 */
