@import url(http://fonts.googleapis.com/earlyaccess/alefhebrew.css);


a:link, a:hover, a:visited, a:active {text-decoration: none;}

ul li{list-style: none;}

body{

    font-family: "skolar-sans-latin", sans-serif;
    background-color: #fffef8;
    color: #202428;
   /* font-family: "Alef Hebrew"*/
}
.jumbotron{
    padding-bottom: 0;
} 
.container-fluid{
    padding: 0;
    margin-top: 50px;
    margin-bottom: 50px;
}
.logo a img{margin-left: -30px;}
.hebrew-font{ 
     direction: rtl;
    font-family: "Alef Hebrew";   Arial,
               sans-serif;
               font-size: 1.2em;
               letter-spacing: 0em;}

.navbar{
    margin-bottom: -3px;
    margin-top: 15px;
}
.navbar li{
    margin-left: 5%;
    display: inline-block;
}
.nav-heb{
    font-family: "Alef Hebrew";   Arial,
               sans-serif;
               letter-spacing: 0em;
}
.navbar li a{
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 1.2em;
    text-align: center;
    color: #202428;
    font-weight: 400;
}
.navbar li a:hover{
    color: #ff6200;
}
.onpage {
    color: #ff6200;
    text-transform: uppercase;
    letter-spacing: 0.07em;
    font-size: 1.2em;
}
.navbar li a img{
    width: 100%;
}

.navline{
    border-bottom: 1px solid  #202428;
    background-color: rgba(255,254,248,.93);
/*  background-color: rgba(169, 46, 13, 0.87);
*/}


.languages {
    border-left:1px solid black;
}
.languages li {
    display: inline-block;
}
.languages li a{
    padding: 4px;
}

.languages li a:hover {
    color: #FF6200; 
}

.hebrew{
    margin-top: 10px;}
.english{
    color: #ff6200;
    margin-top: 10px;
}
.categories{
    font-size: 40px;
    border-bottom: 2px solid #FF6200;
    color:  #FF6200;
    padding-bottom: 5px;
    margin-bottom: 20px;
    text-align: center;
}

.section-titles{
}
.when-on{
    /*border-top: 1px solid;*/
    font-size: 45px;
    font-style: italic;
    font-weight: 200;
    padding-bottom: 5px;
    margin-bottom: 50px;
    margin-top: 100px;
    padding-top: 50px;
    text-align: center;
}
.main-box{padding-right: 20px;}
.event-box{padding-right: 20px;}
.exhi-date {
    background-color: rgba(0,0,0,.6);
    padding: 12px;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    color: white;
    bottom: 0px;
    left: 0px;
    z-index: 200;
    box-sizing: border-box;
    position: absolute;
    width: calc(100% - 0px);
}
.exhi-date-extra {
    font-weight: 400;
    font-size: 25px;
    margin-bottom: 20px;
 
}

.news-date{
    background-color: rgba(0,0,0,.6);
    color: white;
    padding: 8px;
    font-size: 14px; 
    position: absolute;
    z-index: 200;
    margin-top: -33px;
    width: 85%;
    font-weight: 400;
    text-align: center;

}

.brief-description{
    font-size: 16px;    
    height: 100px;
}
.brief-description-now{
    margin-top: 50px;
    margin-bottom: 50px;
    font-style: italic;
    font-size: 18px;    
}
.read-more{float: right;}
.read-more img{width:25px;}
.read-more a{
    color: #ff6200;
/*  border: solid 1px #ff6200;
    padding-top:7px;
    padding-bottom: 7px;    
    padding-left:20px;
    padding-right: 20px; */
}
.read-more li{
    display: inline;
    margin-right: 10px;
    font-weight: 500;
    font-size: 14px;
}

.read-news a{   
    color: #ff6200;
    text-decoration: none;
    float: right;
}

.share{
    margin: auto;
    margin-left: 33%;
    margin-top: 20px;
}
.title-exhib img{

width: 25px;
}
.title-exhib {
    border-bottom: solid 1px;
    font-size: 26px;
    margin-bottom:15px;
    margin-top: 15px;
    padding-bottom: 15px;
    font-weight: 500;
    line-height: 1.3em;
    text-align: center;
    color: #ff6200;
}

.title-main-exhib{
    color: #ff6200;
    font-size: 50px;
}

.categories-small, .categories-dark{
    font-weight: 400;
    font-size: 20px; 
    color: #9A8F9A;
    margin-top: 10px;
    margin-bottom: 20px;
    text-align: center;
}
.categories-small span{
    padding: 8px;
    background-color: #fffef8;}
.categories-dark span{
    padding: 8px;
    background-color: #202428;} 
.thin-line{
    height: 1px;
    background-color: #d7d8dd;
margin-top: -10px;
}

#current-image{
    background-image: url("../images/kinshasa-ville1.jpg");
    /*background-image: url("../images/pregnant.jpg");*/
    background-repeat: no-repeat;
    z-index: -1;
    /*  position: absolute;*/
    width: 100%;
    height: 600px;
}



#current-text{
     text-align: center;
}

#exhibition-name img{
    background-color: rgba(255, 98, 0, 0.83);
    width: 420px;
    margin-bottom: -220px;
    padding:5px;
    }

#current-date{
    color: white;
    font-size: 30px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.6);
}

.see-all a{font-size: 14px;}
.see-all p{margin-top: 10px;}
.see-all a img{width: 2%;}
.see-all{
    text-transform: uppercase;
    letter-spacing: 0.1em;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    font-weight: 500;
}

.see-all a:hover{
    color: #ff6200; 
}
.about-text{
    margin: auto;
    margin-bottom: 20px;
    max-width: 500px;
    font-weight: 300;
    color: #202428;
}

.edge{padding-right: 50px;}

.about-main{
    padding: 18px;
    line-height: 1.3em;
    color: white;
    font-size: 24px;
    font-style: italic;
    font-weight: 100;
    margin-bottom: 80px;    
}
.about-main-heb{
    font-family: "Alef Hebrew";   Arial,
               sans-serif;
    text-align: right;
    padding: 18px;
    line-height: 1.3em;
    color: white;
    font-size: 24px;
    font-weight: 100;
    margin-bottom: 80px;    
}

.about-main-page{
    font-style: italic;
    font-size: 20px;
    margin-bottom: 80px;
    line-height: 1.4em;
}
.about-about{
    font-weight: 400;
    color: #202428;
    max-width: 750px;
    margin: auto;
    margin-bottom: 40px;
}
.about-catalogue{
    color: #202428;
    font-weight: 400;
    margin: auto;
    max-width: 450px;
    margin-bottom: 40px;
}
.now-on-about{  
    font-size: 45px;
    font-style: italic;
    font-weight: 200;
    padding-bottom: 30px;
    text-align: center;}
.about-main-page img{margin-top: 40px;} 
.about-main img{
    margin-top:10px;
    margin-left: -5px;
    padding: 0;
}
.cata-img{
    position: relative;
    z-index: -1;
    width: 90%;
    margin-top:-270px;
}
.cata{padding: 25px;}
.catalogue img{
    -webkit-box-shadow: 9px 10px 26px -1px rgba(255,98,0,0.51);
-moz-box-shadow: 9px 10px 26px -1px rgba(255,98,0,0.51);
box-shadow: 9px 10px 26px -1px rgba(255,98,0,0.51);
    opacity: 1;
    transition: .5s ease;
}
.catalogue img:hover{
    opacity: .5;
    transition:.5s ease;
}
.catalogue {    
background-color: #ff6200; }

.arrow-down{
    margin: auto;
    width: 60px;}
.border {
    position: relative;
background-color: #ff6200;
}
.border img{   
    opacity: 1;
    transition: .5s ease;}
.border img:hover{
    opacity: .5;
    transition: .5s ease;
} 

.galleryspace img{padding: 0;}
.past-exhibitions{
    margin:auto;
    margin-left: 20px;
    margin-right: 20px;
}

.past-events{
    margin: auto; 
    margin-right: 20px;
    margin-left: 20px;

}

.landing-news{
    max-width: 80%;
    margin: auto;
}
.news-row{
    border-top: 1px solid;
    padding-top: 30px;
    padding-bottom: 30px;
}
.news-row:hover{
    background-color: #ff6200;
    color: white;
    border-top: 1px solid black;
}
.news-title{
    font-size: 24px;
    font-weight: 500;
/*  color: #FF6200;
*/}

.news-summary{}

/*/////////news page/////////*/
li.news-exhib{  
    margin-top: 30px;
    font-weight: 500;
    color: #ff6200;
    font-size: 20px;
    font-style: italic;
}
.news-exhib a{color: #ff6200; }
/*///////Footer////////*/
footer{ 
    border-top: 1px solid black;
    margin-top: 100px;
    }

.address{
    margin: auto;
    max-width: 80%;
    font-size: 16px;
    padding-top: 50px;
}

.status-footer{
    font-weight: 900;
    font-size: 18px;
    margin-bottom: 3px;
    color: #ff6200;
    
}
#inbird{
    -webkit-transition: .2s;
}
#inbird:hover{
    fill: #ff6200;
    -webkit-transition: .2s;
}
.space-foot{margin-bottom: 5px;}
.map iframe{margin-top: 50px;
margin-right: 0;
margin-left: 0;
margin-bottom: 0;}

 #map {
    padding-top: 60px;
    width: 100%;
    height: 400px;
            }

/*///////exhibitions/////////*/    
.image-gallery{
width: 100%;
margin:auto;

}
/*///////contact page/////////*/
.contact-brief {font-size: 24px;
}
.subscribe{font-size: 20px;
    font-weight: 400;
    font-style: italic;
    margin-bottom: 20px;
}
.form-email{
    background-color: transparent;
    border: solid 1px;
    }

.submit-email{border: none;
background-color: transparent;}

/*//////////mobile///////////*/

/* ==========================================================================
   Media queries
   ========================================================================== */

@media screen and (max-width:991px){

#exhibition-name img{
    width: 320px;
    margin-bottom: -275px;
    }

#current-date{
    font-weight: bolder;
    color: white;
    font-size: 25px;
}
.logo img a{margin-left: 35px;}
.navbar li{margin-left: 3%;}

}/* end max-width 991 */

@media screen and (max-width:767px){
.jumbotron{
    height:300px;} 
.logo a img{margin-left: 5px;
width: 70px;}
.mobile-menu{
    width: 80px;
    float: right;
    }
.container-fluid {
     margin-top: 10px; 
 }
.about-text{

    margin-top: 10px;
    padding: 0;
}
.when-on{
    font-size: 35px;
    padding-bottom: 0; 
    margin-bottom: 0; 
    margin-top: 40px; 
    padding-top: 15px;
}
.see-all {margin-top: 40px;}
.see-all a img{width: 8%;}
.brief-description-now{margin-bottom: 10px;
margin-top: 25px;}

#exhibition-name img{
    width: 320px;
    margin-bottom: -98px;
    }

#current-date{
    font-weight: bolder;
    color: white;
    font-size: 20px;
}
.past-exhibitions{
    margin-right: 10px;
    margin-left:10px;
}
.about-main{
    position: relative; 
    padding-left: 30px;
    line-height: 1.3em;
    font-size: 16px;
    margin-bottom: 10px;
}


.navbar li 
.navbar li a{
    margin-left: 30px;
}
.navbar{
    margin:auto;
    margin-top: 20px;
    }

.navbar li{
    font-size: 14px;
    margin-left: -4%;
}

.navbar li a img{
    width: 50%;
}
.row {padding-right: 0px;}
.landing-about{
    max-width: 100%;
}
.past-exhibitions{
    max-width: 100%;
}

.past-events{
    max-width: 100%;
}

.landing-news{
    max-width: 100%;
}
.title-main-exhib{
    margin-top: 15px;
    font-size: 40px;}

.title-exhib {
    margin-bottom: 5px;
    margin-top: 5px;
}

.border{
    margin-top: 40px;
}
.news-row{
    border-top: none;
    padding-top: 20px;
    padding-bottom: 20px; 
}
.news-title{color:#FF6200;
padding-right: 5px;}
.read-news{padding-right:0;
padding-left: 0;
padding-top:10px;}
.main-box{padding-right: 0;}
.event-box{padding-right: 0;}
}/* end max-width 767 */
