@import url(http://fonts.googleapis.com/earlyaccess/alefhebrew.css);


a:link, a:hover, a:visited, a:active {text-decoration: none;}

ul li{list-style: none;}

body{
	font-family: "skolar-sans-latin", sans-serif;
	background-color: #fffef8;
	color: #202428;
	/*font-family: "Alef Hebrew"*/
}
.jumbotron{
	padding-bottom: 0;
} 
.notes{
	color: #FF00E0;
	font-size: 15px;
}
.container-fluid{
	padding:10px;
	margin-top: 70px;
	margin-bottom: 50px;
}

.hebrew-font{ font-family: "Alef Hebrew";   Arial,
               sans-serif;}

.navbar{
	margin-bottom: -3px;
	margin-top: 15px;
}
.navbar li{
	margin-left: 6%;
	display: inline-block;
}
.navbar li a{
	text-transform: uppercase;
	letter-spacing: 0.07em;
	font-size: 1.2em;
	text-align: center;
	color: #202428;
	font-weight: 400;
}
.navbar li a:hover{
	color: #ff6200;
}
.onpage {
	color: #ff6200;
	text-transform: uppercase;
    letter-spacing: 0.07em;
    font-size: 1.2em;
}
.navbar li a img{
	width: 100%;
}

.navline{
	border-bottom: 1px solid  #202428;
	background-color: rgba(255,254,248,.93);
/*	background-color: rgba(169, 46, 13, 0.87);
*/}


.languages {
	border-left:1px solid black;
}
.languages li {
	display: inline-block;
}
.languages li a{
	padding: 4px;
}

.languages li a:hover {
	color: #FF6200;	
}

.hebrew{
	margin-top: 10px;}
.english{
	color: #ff6200;
	margin-top: 10px;
}
.categories{
	font-size: 40px;
	border-bottom: 2px solid #FF6200;
	color:  #FF6200;
	padding-bottom: 5px;
	margin-bottom: 20px;
	text-align: center;
}

.section-titles{
}
.when-on{
	border-top: 1px solid;
	font-size: 45px;
	font-style: italic;
	font-weight: 200;
	padding-bottom: 5px;
	margin-bottom: 70px;
	margin-top: 100px;
	padding-top: 50px;
	text-align: center;
}
.main-box{padding-right: 70px;}
.event-box{padding-right: 70px;}
.exhi-date{
	background-color: rgba(0,0,0,.6);
	padding: 12px;
	text-align: center;
	font-weight: 400;
	font-size: 20px; 
	color: white;
	margin-top: -50px;
	margin-bottom: 30px;
	z-index: 200;
	position: absolute;
	width: 76%;
}
.news-date{
	background-color: rgba(0,0,0,.6);
	color: white;
	padding: 8px;
	font-size: 14px; 
	position: absolute;
	z-index: 200;
	margin-top: -33px;
	width: 85%;
	font-weight: 400;
	text-align: center;

}

.brief-description{
	font-size: 16px; 	
	height: 100px;
}
.brief-description-now{
	margin-top: 50px;
	margin-bottom: 50px;
	font-style: italic;
	font-size: 18px; 	
}
.read-more{margin-left: 32%;}
.read-more a{
	color: #ff6200;
/*	border: solid 1px #ff6200;
	padding-top:7px;
	padding-bottom: 7px;	
	padding-left:20px;
	padding-right: 20px; */
}
.read-more li{
	display: inline;
	margin-right: 10px;
	font-weight: 500;
	font-size: 14px;
}
.read-news{	}
.read-news a{	
	color: #ff6200;
	text-decoration: none;
	float: right;
}

.read-more a:hover {
  /*  border: 1px solid #FF6200;
    color: white;
    background-color: #ff6200;*/
}
.share{
	margin: auto;
	margin-left: 33%;
	margin-top: 20px;
}
.title-exhib {
    font-size: 26px;
    margin-bottom: 50px;
    margin-top: 20px;
    font-weight: 500;
    line-height: 1.3em;
    text-align: center;
/*  color: rgb(169, 46, 13);*/
	color: #ff6200;
}

.title-main-exhib{
	font-size: 50px;
}
.categories-small, .categories-dark{
	font-weight: 400;
	font-size: 20px; 
	color: #9A8F9A;
	margin-top: 10px;
	margin-bottom: 20px;
	text-align: center;
}
.categories-small span{
	padding: 8px;
	background-color: #fffef8;}
.categories-dark span{
	padding: 8px;
	background-color: #202428;}	
.thin-line{
	height: 1px;
	background-color: #d7d8dd;
margin-top: -10px;
}

#current-image{
	background-image: url("../images/kinshasa-ville1.jpg");
	/*background-image: url("../images/pregnant.jpg");*/
	background-repeat: no-repeat;
	z-index: -1;
	/*	position: absolute;*/
	width: 100%;
	height: 600px;
}



#current-text{
	 text-align: center;
}

#exhibition-name img{
	background-color: rgba(0,0,0,.7);
    width: 30%;
    margin-bottom: -220px;
    padding:5px;
	}

#current-date{
	color: white;
	font-size: 30px;
	text-shadow: 2px 2px rgba(0, 0, 0, 0.6);
}

.see-all a{font-size: 12px;}
.see-all p{margin-top: 10px;}
.see-all a img{width: 3%;}
.see-all{
	text-transform: uppercase;
	letter-spacing: 0.1em;
	text-align: center;
	margin: auto;
	max-width: 80%;
	margin-top: 100px;
	font-weight: 500;
}

.see-all a:hover{
	color: #ff6200; 
}
.about-text{
	font-weight: 300;
	color: #202428;
}
.about-about{
	margin-bottom: 40px;
	font-weight: 300;
	color: #202428;
}


.about-main{
	padding: 18px;
	line-height: 1.3em;
	color: white;
	font-size: 24px;
	font-style: italic;
	font-weight: 100;
	margin-bottom: 80px;	
}
.about-main-page{
	font-style: italic;
	font-size: 18px;
	font-weight: 100;
	margin-bottom: 80px;
	line-height: 1.4em;
}

.about-main img{
	margin-top:10px;
	margin-left: -5px;
	border:solid 2px #ff6200;
	padding: 0;
}

.border img{border:solid 2px #ff6200;}
.landing-about{margin-top: 80px;
	margin: auto;
	max-width: 80%;
}

.past-exhibitions{
	max-width: 80%;
	margin:auto;
}

.past-events{
	margin: auto;
	max-width: 80%;
}

.landing-news{
	max-width: 80%;
	margin: auto;
}
.news-row{
	border-top: 1px solid;
	padding-top: 30px;
	padding-bottom: 30px;
}
.news-row:hover{
	background-color: #ff6200;
	color: white;
	border-top: 1px solid black;
}
.news-title{
	font-size: 24px;
	font-weight: 500;
/*	color: #FF6200;
*/}

.news-summary{}

/*/////////news page/////////*/
li.news-exhib{	
	margin-top: 30px;
	font-weight: 500;
	color: #ff6200;
	font-size: 20px;
	font-style: italic;
}
.news-exhib a{color: #ff6200; }
/*///////Footer////////*/
footer{	
	border-top: 1px solid black;
	margin-top: 100px;
	}

.address{
	margin: auto;
	max-width: 80%;
	font-size: 16px;
	padding-top: 50px;
}

.status-footer{
	font-weight: 900;
	font-size: 18px;
	margin-bottom: 3px;
	color: #ff6200;
	
}
#inbird{
	-webkit-transition: .2s;
}
#inbird:hover{
	fill: #ff6200;
	-webkit-transition: .2s;
}
.space-foot{margin-bottom: 5px;}
.map iframe{margin-top: 50px;
margin-right: 0;
margin-left: 0;
margin-bottom: 0;}

 #map {
 	padding-top: 60px;
	width: 100%;
	height: 400px;
            }

/*///////contact page/////////*/
.contact-brief {font-size: 24px;
}
.subscribe{font-size: 20px;
	font-weight: 400;
	font-style: italic;
	margin-bottom: 20px;
}
.form-email{
	background-color: transparent;
	border: solid 1px;
	}

.submit-email{border: none;
background-color: transparent;}

/*//////////mobile///////////*/

/* ==========================================================================
   Media queries
   ========================================================================== */

@media screen and (max-width:991px){

#exhibition-name img{
	width: 42%;
	}

#current-date{
		font-weight: bolder;
	color: white;
	font-size: 25px;
}

}/* end max-width 991 */

@media screen and (max-width:767px){
.jumbotron{
	height:300px;} 

.mobile-menu{
	width: 80px;
	float: right;
	}

#exhibition-name img{
	width: 100%;
	}
	
#current-date{
	font-weight: bolder;
	color: white;
	font-size: 20px;
}
.past-exhibitions{
	margin-right: 10px;
	margin-left:10px;
}
.about-main{
	position: relative; 
	padding: 6px;
	line-height: 1.3em;
	font-size: 16px;
}


.navbar li 
.navbar li a{
	margin-left: 30px;
}
.navbar{
	margin:auto;
	margin-top: 20px;
	}

.navbar li{
	font-size: 14px;
	margin-left: -4%;
}

.navbar li a img{
	width: 50%;
}
.landing-about{
	max-width: 100%;
}
.past-exhibitions{
	max-width: 100%;
}

.past-events{
	max-width: 100%;
}

.landing-news{
	max-width: 100%;
}
}/* end max-width 767 */
